*{
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: #000;
}
html,body,main,.box{
  width: 100%;
  height: 100%;
}
body{
  font-size: .32rem;
}
.box{
  display: flex;
  flex-direction: column;
  background: #ECF1F4;
}
%qjz{
  display: flex;
  align-items: center;
  justify-content: center;
}
header{
  width: 100%;
  height: 1rem;
  line-height: 1rem;
  position: relative;
  background: #fff;
  >span{
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translate3d(0,-50%,0);
    i{
      font-size: .4rem!important;
    }
  }
  menu{
    width: 40%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    position: relative;
    span{
      flex: 1;
      @extend %qjz;
      a{
        color: #999;
        &.on{
          color: #000;
        }
      }
    }
    .line{
      width: 50%;
      height: 5px;
      background: #424B4B;
      position: absolute;
      left: 0;
      bottom: 0;
      transition: transform .4s;
    }
  }
}
section{
  width: 100%;
  flex: 1;
  overflow-y: scroll;
  overflow-x: hidden;
}
.pic{
  width: 100%;
  .swiper-slide{
    width: 100%;
    img{
      width: 100%;
      height: auto;
    }
  }
  .pages span{
    width: 1rem;
    height: .1rem;
    border-radius: 0;
  }
}
.sort{
  width: 100%;
  padding: 5% 0;
  display: flex;
  background: #fff;
  a{
    flex: 1;
    @extend %qjz;
    flex-direction: column;
    color: #666;
    font-size: .28rem;
    span{
      width: .8rem;
      height: .8rem;
      @extend %qjz;
      border-radius: 40%;
      background: #FF6666;
      color: #fff;
      margin-bottom: .1rem;
      i{
        font-size: .5rem !important;
      }
    }
  }
}
.title_bar{
  width: 100%;
  p{
    width: 95%;
    height: 1.3rem;
    margin: .2rem 2.5%;
    text-align: center;
    line-height: 1.5rem;
    background: url("../../img/bg.gif") no-repeat;
    font-size: .45rem;
    color: #fff;
    background-size:cover;

  }
}
.ownsService{
  width: 100%;
  background: #fff;
  >p{
    width: 100%;
    height: .8rem;
    padding-left: 5%;
    line-height: .8rem;
  }
  .type{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    li{
      flex-basis: 25%;
      display: flex;
      @extend %qjz;
      flex-direction: column;
      border: 1px solid #F5F5F5;
      margin-right: -2px;
      margin-bottom: -2px;
      font-size: .28rem;
      height: 1.7rem;
      i{
        font-size: .8rem!important;
      }
      span{
        color: #999;
      }
    }
  }
}
.flashSale {
  width: 100%;
  background: #fff;
  margin-top: 3%;
  > p {
    width: 100%;
    height: 1rem;
    padding-left: 5%;
    line-height: 1rem;
    span{
      float: right;
      margin-right: 10%;
      i{
        padding: 10px;
        background: #555555;
        font-size: .28rem;
        color: #fff;
        margin:0 10px;
      }
    }
  }
}
.commodity{
  width: 100%;
  height: 3.3rem;
  overflow-x: scroll;
  .swiper-slide{
    width: 40%;
    padding: 2% 3%;
    dl{
      display: flex;
      flex-direction: column;
      border: 1px solid #999;
      padding: 9%;
      dt{
        @extend %qjz;
        img {
          width: 80%;
          height: auto;
        }
      }
      dd{
        p{
          line-height: .5rem;
          font-size: .28rem;
          &:nth-of-type(2){
            span{
              color: #FB6118;
            }
            u{
              color: #999;
              float: right;
              margin-right: 10%;
            }
          }
        }
      }
    }
  }
}
.activity{
  width: 100%;
  background: #fff;
  margin-top: 3%;
  > p {
    width: 100%;
    height: 1rem;
    padding-left: 5%;
    line-height: 1rem;
    span{
      float: right;
      margin-right: 10%;
      color: #999;
    }
  }
  .area{
    width: 100%;
    display: flex;
    dl{
      width: 33.3%;
      padding: 2% 2%;
      border-top: 1px solid #999;
      border-right: 1px solid #999;
      dd{
        p{
          padding-left:10px;
          font-size: .28rem;
          line-height: .4rem;
          &:nth-child(2){
            color: #FB6A2E;
          }
        }
      }
      dt{
        text-align: center;
        img{
          width: 70%;
        }
      }
    }
  }
}
.like{
  width: 100%;
  background: #fff;
  margin-top: 3%;
  > p {
    width: 100%;
    height: 1rem;
    padding-left: 5%;
    line-height: 1rem;
    span{
      float: right;
      margin-right: 10%;
      color: #999;
    }
  }
  .lazyLoad{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    dl{
      flex-basis: 50%;
      border-top: 1px solid #999;
      border-right: 1px solid #999;
      padding: 10% 3%;
      dt{
        text-align: center;
        img{
          width: 80%;
          height: auto;
        }
      }
      dd{
        p{
          line-height: .5rem;
          &:nth-of-type(1){
            font-size: 25px;
          }
          &:nth-of-type(2){
            font-size: 22px;
            color: #999;
          }
          &:nth-of-type(3){
            span{
              color: #FB611E;
              font-size: 20px;
            }
            del{
              color: #999;
              font-size: 12px;
              margin-left: 10%;
            }
          }
        }
      }
    }
  }
}
.moreBtn{
  position: fixed;
  bottom: 1rem;
  right: 10px;
  width: .8rem;
  height: 1rem;
  color: #fff;
  border: none;
  background: #3F82FF;
  z-index: 10;
  font-size: .3rem;
}
footer{
  width: 100%;
  height: 1rem;
  background: #FBFBFB;
  display: flex;
  a{
    flex: 1;
    @extend %qjz;
    flex-direction: column;
    &.onblue,&:nth-child(5){
      color: #3F82FF;
      span{
        color: #3F82FF;
      }
    }
    span{
      font-size: .25rem;
      color: #999;
    }
    i{
      font-size: .5rem!important;
      margin-bottom: 3px;
    }
  }
}

